/*.date{
  background-color: white;
}*/
/*
.match{
}

/*.type{
  background-color: white;
}

.datisquadre{
  background-color: white;
}

.squadrasinistra{
  background-color: white;
}*/
/*
.bordocoloratosinistro{
  width:0.7%;
  height:100%;
}

.sfondosinistro{
  width:50%;
  height:100%;
  opacity:35%;
  background-repeat:no-repeat;
  padding-left:0.7%;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
}

.logosinistro{
  opacity:100%;
}
/*
.conferencesinistra{
  background-color: white;
}

.positionsinistra{
  background-color: white;
}

.namesinistro{
  background-color: white;
}

.scoresinistro{
  background-color: white;
}

.squadradestra{
  background-color: white;
}*/
/*
.bordocoloratodestro{
  width:5%;
  height:100%;
}

.sfondodestro{
  width:50%;
  height:100%;
}

/*.scoredestro{
  background-color: white;
}

.namedestro{
  background-color: white;
}

.logodestro{
  background-color: white;
}

.conferencedestra{
  background-color: white;
}

.positiondestra{
  background-color: white;
}

.place{
  background-color: white;
}

.logotelevisione{
  background-color: white;
}*/
