@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.date{
  text-align:center;
  font-family:Oswald,Oswald;
  font-size:26pt;
  font-weight:bold;
}

.match{
  width:100%;
  padding-left:0%;
  padding-right:0%;
  padding-top:0%;
  padding-bottom:0%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0.6%;
  margin-bottom:0.6%;
  border:0px none white;
  background-color:transparent;
}

.type,.place{
  color:white;
  text-align:center;
  width:max-content;
  padding-left:0%;
  padding-right:0%;
  padding-top:0%;
  padding-bottom:0%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0%;
  margin-bottom:0%;
  font-family:Oswald,Oswald;
  font-weight:bold;
  font-size:10pt;
  letter-spacing:5px;
}

.type{
  background-color: rgb(255,75,90);
  border:10px solid rgb(255,75,90);
}

.place{
  border:0px none white;
}

.logotelevisione{
  width:33%;
  text-align:center;
  padding-left:0%;
  padding-right:0%;
  padding-top:0%;
  padding-bottom:0%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0%;
  margin-bottom:0%;
  border:0px none white;
}

.datisquadre{
  width:max-content;
  padding-left:0%;
  padding-right:0%;
  padding-top:0%;
  padding-bottom:0%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0%;
  margin-bottom:0%;
  border:0px none white;
  display:flex;
}

.sfondosinistro,.sfondodestro{
  width:max-content;
  height:100%;
  padding-left:0%;
  padding-right:0%;
  padding-top:0%;
  padding-bottom:0%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0%;
  margin-bottom:0%;
  border:0px none white;
  background-color:transparent;
}

.sfondosinistro{
  background-repeat:no-repeat;
  border-left-width:30px;
  border-left-style:solid;
  border-bottom-left-radius:40px;
}

.sfondodestro{
  background-repeat:no-repeat;
  border-right-width:30px;
  border-right-style:solid;
  border-bottom-right-radius:40px;
}

/*
.logosinistro{
  opacity:100%;
}
*/

/*
.conferencesinistra{
  background-color: white;
}
*/

/*
.positionsinistra{
  background-color: white;
}
*/

/*
.namesinistro{
  background-color: white;
}
*/

/*
.scoresinistro{
  background-color: white;
}
*/

/*
.scoredestro{
  background-color: white;
}
*/

/*
.namedestro{
  background-color: white;
}
*/

/*
.logodestro{
  background-color: white;
}
*/

/*
.conferencedestra{
  background-color: white;
}
*/

/*
.positiondestra{
  background-color: white;
}
*/
